<ion-header>
  <ion-toolbar>
    <ion-title>
      GAC
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registrar']" expand="block" color="primary">Registrar</ion-button>
        <span class="divider line one-line">ou</span>
        <br>
        <span class="already">Já é usuário?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>